.distributor__errorMessage {
    background-color: #fff;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 3px 40px rgb(0 0 0 / 10%);
    border-radius: 25px;
    margin-top: 1%;
    color: #ff2800;
  }